<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>969533970822-o95chgof4omt3q3fg1k4rh662ggii9bt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.969533970822-o95chgof4omt3q3fg1k4rh662ggii9bt</string>
	<key>API_KEY</key>
	<string>AIzaSyAZjXjnaXpbK4HJpKdB1UYNRUDqkKzKq6g</string>
	<key>GCM_SENDER_ID</key>
	<string>969533970822</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Temurbek.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>true-chat-e63a2</string>
	<key>STORAGE_BUCKET</key>
	<string>true-chat-e63a2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:969533970822:ios:85613e9e1423b91c</string>
	<key>DATABASE_URL</key>
	<string>https://true-chat-e63a2.firebaseio.com</string>
</dict>
</plist>